.iconlinks-container {
    align-self: flex-start;
    margin: 1vh;
    min-width: calc(30px + 2vh);
}

.iconlinks-icon {
    max-height: calc(30px + 2vh);
    object-fit: cover;
}

.iconlinks-icon:hover {
    cursor: pointer;
}

.iconlinks-icon-container {
    margin: 1vh 0;
}