.homepage-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homepage-icon-container {
    flex: 0;
    align-self: flex-end;
}

.homepage-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: calc(30px + 2vh);
}

.homepage-title {
    color: #fcfcfe;
    font-size: calc(10px + 6vmax);
}

.homepage-subtitle {
    color: #EDF6FD;
    font-size: calc(10px + 2vmax);
    margin-left: 0.15em;
    padding-bottom: calc(10px + 5vmax);
}