.nav-item {
    flex: 1;
    justify-content: space-evenly;
    display: flex;
}

.navbar-nav {
    flex: 1;
}

a.nav-link {
    color: #F1F2EB;
    text-decoration: underline;
    text-decoration-color: transparent;
}

a.nav-link:hover {
    color: #EF761A;
    text-decoration-color: #EF761A;
    transition:
        color .25s ease-in,
        text-decoration-color .25s ease-in;
}